<!--
טבלה רגילה
<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Studio</th>
      <th>Weekend Income</th>
    </tr>
  </table>
      <movie *ngFor = "let movie of decmovies" [data]="movie">    
      </movie>
</div>
-->
<!--
לפי גריד ליסט
<mat-grid-list
  cols="1"
  rowHeight="50px"> 
  <movie
  *ngFor = "let movie of decmovies"
    [data] = "movie"
    (myButtonClicked) = "showTitle($event)"> --><!--כל המידע שהגיע מאיבנט-אמיטר נכנס לתוך איבנט--> 
  <!--</movie>
</mat-grid-list>
<div style = "text-align: center;">
  the movie you deleted is: {{titleFromMovie}}
</div>
-->

<div>
  
    <mat-form-field>
        <mat-select placeholder="Select a Studio" [(value)]="studio" (selectionChange)="toFilter()">
          <mat-option *ngFor="let s of studios" [value]="s">
            {{s}}
          </mat-option>
        </mat-select>
      </mat-form-field>   

  <table mat-table [dataSource]="movies" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
       <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    
    <ng-container matColumnDef="studio">
      <th mat-header-cell *matHeaderCellDef> Studio </th>
      <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
    </ng-container>
    
    <ng-container matColumnDef="weekendIncome">
      <th mat-header-cell *matHeaderCellDef> Weekend Income </th>
      <td mat-cell *matCellDef="let element"> {{element.weekendIncome}} </td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button (click) = "toDelete(element)">
          Delete Movie
        </button>
      </td>
    </ng-container>
        
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{name}}</div>