<!--
  <p>
  movie works!
</p>

<table>
  <tr>
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{studio}}</td>  
    <td>{{weekendIncome}}</td>
  </tr>
</table>
-->
<!--
<mat-grid-list cols = "5" id = {{id}}
                    *ngIf = "showRow"> <!--תנאי למחיקת שורה-->
                    <!--אופציה נוספת במקום איי די שווה איי די, לכתוב:
                    row = "1" --><!--
  <mat-grid-tile>
    {{id}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{title}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{studio}}
  </mat-grid-tile>
  <mat-grid-tile>
    {{weekendIncome}}
  </mat-grid-tile>
  <mat-grid-tile>
    <button (click) = "deleteRow()" >-->  <!--אם נכתוב כאן את התנאי שלמעלה של מחיקת שורה, זה ימחק רק את הכפתור-->
      <!--
      Delete Movie
    </button>
  </mat-grid-tile>
</mat-grid-list>

-->